// Include theme-specific fonts
//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

/*-- scss:defaults --*/
// Override theme settings (see ../template/settings.scss)
// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: rgba(183,153,98,0.2);

// Primary/body text
//$mainFont: 'Noto Sans', sans-serif;
$mainFontSize: 30px;
$mainColor: rgba(77,83,86);

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
//$headingFont: 'Noto Sans', sans-serif;
$headingColor: #61223b;
$headingLineHeight: 1.1;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.00em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

// Code 
$codeFont: monospace;
$codeFontSize: 1.5em;
$code-color: #9fa997;
$code-block-bg: rgba(183,153,98,0.4);

// Links and actions
$linkColor: #82CCAE;
$linkColorHover: darken( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #dc4405;
$selectionColor: #A60A3D;

// start using css here
h1 {
  color: #b79962;
  font-size: 72px;
  font-weight: bold;
}

// start using css here
#title-slide > h1 {
  color: #b79962;
  font-size: 72px;
  font-weight: bold;
}

// Code is too small
#remark-code {
  font-size: 50px;
} 